<div class="parent-wrapper">
  <span class="close-btn glyphicon glyphicon-remove"></span>
  <div class="subscribe-wrapper">
    <h4>SUBSCRIBE TO OUR NEWSLETTER</h4>
    <input type="email" name="email" class="subscribe-input" placeholder="Your e-mail">
    <div class="submit-btn">SUBMIT</div>
  </div>
</div>

<div class="footerListWrap">
    <h1 class="footerLog">WOA.</h1>
    <ul class="footerList">
        <li class="footerLink"><a href="mission.html">Our Mission</a></li>
        <li class="footerLink"><a href="news.html">News</li>
        <li class="footerLink"><a href="events.html">Events</li>
        <li class="footerLink"><a href="mentorship.html">Mentorship</li>
    </ul>
    <ul class="socialMedia">
        <p>Follow Us</p>
        <img src="./assets/fb.png" class="socialItem">
        <img src="./assets/twitter.png" class="socialItem">
        <img src="./assets/youtube.png" class="socialItem">
        <img src="./assets/ig.png" class="socialItem">
    </ul>
</div>

<p>©Copyright 2021 by Pajari Rodsawang. All rights reserved.</p>